.btn {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 10px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.20) 2px 2px 4px;
}
.primary {
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.primary:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}
.secondary {
    background-color: transparent;
    border: 1px solid var(--main-color);
}
.secondary:hover{
    background-color: var(--main-color);
    color: var(--white);
}
.small {
    width: 80px;
    height: 40px;
}
.large{
    width: auto;
    height: 40px;
}