.btn {
    margin: 10px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-align: center;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: rgba(0, 0, 0, 0.20) 0px 1px 4px;
}
.primary {
    background-color: transparent;
    border: 1px solid var(--main-color);
}

.primary:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
}

.large {
    width: 80px;
    height: 40px;
}