.form-container{
    max-width: 400px;
    min-height: 350px;
    background-color: white;
    padding: 20px;
    margin-top: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: border-box;
    border-radius: 10px;
}
.logo{
    width: 100px;
    height: auto;
}
.input-names{
    display: flex;
}
.input-field{
    box-sizing: border-box;
    width: 350px;
    height: 50px;
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    margin: 5px;
    background-color: rgba(254, 49, 48, 0.5);
}
.radio-field{
    width: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0;
    text-align: start;
    align-items: center;
    margin: 10px 0;
    accent-color: black;
}
.confirm_box{
    text-align: center;
    align-items: center;
    vertical-align: middle;
    accent-color: black;
}
.submit-btn{
    width: 350px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: rgba(254, 49, 48, 0.8);
    margin: 10px 0;
}
.submit-btn:hover{
    background-color: rgb(254, 49, 48);
}