.side {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 10px 5px;
    box-sizing: border-box;
}

.adminImg {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid var(--secondary-color);
    box-shadow: rgba(0, 0, 0, 0.24) 10px 10px 8px;
    margin-top: 5%;
}
.leftSide{
    text-align:left;
    height: min-content;
    padding: 30px;
    margin-top: 25% ;

    & > h1{
        font-size: 65px;
        margin: 0;
        padding: 0;
    }
    & > h2{
        font-size: 45px;
        margin: 0;
        padding: 0;
    }
    & > p{
        font-size: 30px;
        margin: 0;
        padding: 0;
    }
    & > button{
        margin: 10px 0;
    }
}
.projects{
    text-align: center;
    margin-top: 8rem;
    justify-items: center;
}